*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

.content{
   height: 200vh;
}

.navbar {
  /* important is written to override bootstrap css */
  background-color: rgba(10, 239, 239, 0.968) !important; 
}
.register-page{ 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87.5vh;
}

.linkbuttonDiv {
  display: flex;
  justify-content: center !important;
  border-radius: 10px;
}
.linkClass{
  color: red;
  margin-left: -130px;  
}

.btnregister{
     padding: 1%;
     margin-top: 50px;
     margin-left: -180px;
     font-weight: bold;
     background-color: rgb(4, 23, 110);
     border-radius: 10%;
     color: bisque;
     width: 20%;
     font-size: larger;
     font-family:'Times New Roman', Times, serif;
     font-style: oblique;
}
.btnregister:hover{
  background-color: rgb(6, 104, 58);
}
.loginHeadingStling{
  color: rgb(70, 3, 70);
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style: italic;
}
.registerHeadingStling{
  color: rgb(70, 3, 70);
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style: italic;
}

/* Input styling */
.inputstylingcss {
  color: blue;
  font-weight: bold;
  font-style: italic;
  background-color: transparent;
  border: 10px;
  border-style:outset;
  box-shadow: 0 10px 10px 0 purple;
}
.insideinputstylingcss {
  color: blue;
  border: 10px;
  border-style:outset;
  box-shadow: 0 10px 10px 0 purple;
}

/* transaction page */
.filters {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 15px 20px;
     box-shadow: 0 0 3px gray;
}

/* antd icons */
.switch-icons{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
}
.anticon svg{
  font-size: 20px;
  cursor: pointer;
}

.active-icon{
  color: rgb(255, 115, 0);
}
.inactive-icon {
  color: gray;
}

/* Category Styling */
.categoryincomestyle{
  color: greenyellow;
  background-color: black;
  padding: 2%;
  text-align: center;
  justify-content: center;
  border-radius: 2%;

}
.categoryexpensestyle{
  color: red;
  background-color: black;
  padding: 2%;
  text-align: center;
  justify-content: center;
  border-radius: 2%;
}

.categoryincomecolstyle{
  margin-left: 145px;
  width: 35%;
  
}
.categoryexpensecolstyle{
  margin-left: 90px;
  width: 35%;
  
}

.firstrowstyling{
  justify-content: space-evenly;
}
.cardstyle1 {
  background-color: lightgoldenrodyellow;
}
.cardstyle2{
  background-color: lightyellow;
}

.logoutButton{
  background-color: red;
  margin: 5px;
}
.logoutButton:hover{
  background-color: brown;
}
.dollarcolorstyle{
  color: darkorange;
  margin-right: 8px;
}
.buttoncolorstylingcss{
  color: green;
  margin-right: 8px;
}

.topicstyling{
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* login page */
.loginpagestylingcss{
  background-color: rgb(245, 220, 234);
}
/* register page */
.registerpagestylingcss{
  background-color: rgb(247, 225, 225);
}

/* inside form  */
.insideformstyling {
  background-color: white;
}